<img
  class="community-location-pin__top"
  src="/assets/images/community/community-pin-top.svg"
  alt=""
  aria-hidden="true"
/>
<img
  class="community-location-pin__body"
  src="/assets/images/community/community-pin-body.svg"
  alt=""
  aria-hidden="true"
/>
<img
  class="community-location-pin__shadow"
  src="/assets/images/community/community-pin-shadow.svg"
  alt=""
  aria-hidden="true"
/>
<img
  class="community-location-pin__group"
  src="/assets/images/community/community-pin-group.svg"
  alt=""
  aria-hidden="true"
/>
